@import './base.css';

body {
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 227, 227);
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;
    font-size: 80px;
}

main {
    width: 100%;
    max-width: 200em;
    margin: auto;
}

header {
    top: 0;
    position: fixed;
    display: grid;
    grid-template: auto / 1fr 1fr;
    width: 100%;
    z-index: 2000;
}

p {
    font-size: 20px;
}

/* EXPLAIN SECTION */

.explain-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100em;
    margin: 5em auto;
    gap: 6em;
}

.explain-div {
    width: 80%;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.explain-div-right {
    margin-left: auto;
}

.explain-div h2, .explain-title {
    background-color: rgb(228, 228, 228);
    border-radius: 24px 24px 0px 0px;
    margin: 0;
    padding: 10px 20px;
    font-size: 40px;
}

.explain-title h3 {
    margin-top: 0;
    padding: 0px 20px;
    text-decoration: italic;
    font-size: 20px;
}

.explain-div-right h2, .explain-div-right h3 {
    text-align: right;
}

.explain-div div:not(.explain-title) {
    margin: 0;
    border-radius: 0px 0px 24px 24px;
    padding: 10px;
    background-color: rgb(255, 183, 183);
}

.v-enter-active, .v-leave-active {
    transition: all 0.5s ease;
}

.v-enter-from, .v-leave-to {
    max-height: 0;
    opacity: 0;
    transform: translateY(-50px);
}

.v-enter-to, .v-leave-from {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em auto;
}

/* ANIMATION TITRES */


.waviy span {
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg); 
    }
}

.big-section {
    margin: auto;
    max-width: 90%;
    width: 90%;
}
    
/* FOOTER */

nav {
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 6px 20px;
    background-color: #4d0000;
    display: flex;
    align-items: center;
    z-index: 2;
}

nav a, nav p {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.7;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

nav p {
    font-size: 30px;
    margin: 0;
}

header nav:nth-child(2),
footer nav:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

#pfp {
    display: flex;
    opacity: 1;
}

#pfp:hover{
    animation: tourne 2s infinite;
}

#pfp img {
    width: 70px;
    border-radius: 50%;
}

nav a.active,
nav a:hover {
    opacity: 1;
}

.router-link-active, .router-link-exact-active, .active {
    color: #ff44cd;
}

/* ROTATION DE L'IMAGE */

@keyframes tourne {
    0% {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( -360deg );
    }
}
