@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

@font-face {
    font-family: "Proxima Nova";
    src: url('../assets/fonts/proxima-nova.ttf');
}

@font-face {
    font-family: "Consolas";
    src: url('../assets/fonts/CONSOLA.TTF')
}

@font-face {
    font-family: "Cascadia";
    src: url('../assets/fonts/CascadiaMono-Regular.otf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

html, body {
    height: 100%;
    background-image: linear-gradient(-20deg, #332fff 0%, #d31d1d 100%);
    background-attachment: fixed;
}

body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Cascadia', 'Proxima Nova', Arial, Helvetica, sans-serif;
    display: flex;
    margin-bottom: 1.2em;
    font-size: 80px;
}

p {
    font-size: 20px;
}

/* ANIMATION TITRES */

.waviy span {
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg); 
    }
}

.big-section {
    margin: auto;
    max-width: 90%;
    width: 90%;
    padding: 1.2em 0;
}
    
/* FOOTER */

nav {
    display: flex;
    z-index: 2;
}

nav a, nav p {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: white;
}

nav p {
    font-size: 30px;
    margin: 0;
}

header nav:nth-child(2),
footer nav:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

nav a:hover {
    opacity: 1;
}

/* TITLES */

#titles {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 5em auto;
}

#titles h1 { margin-bottom: 1px; }
#titles h2 { margin-bottom: 3em; }
#titles p { margin-bottom: 0; }

#titles div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobs-section {
    display: flex;
    flex-direction: column;
    gap: 6em;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 0.2em 0.5em;
    transition: scale 0.2s ease;
}